{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="display-4">Vul een stage in</h1>
                <p class="lead">Vul het cijfer en de periode waarin je het cijfer gekregen hebt in.</p>
                <form method="POST">
                    {# This hidden_tag is a CSRF security feature. #}
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <label for="naam" class="form-label">Naam van het bedrijf:</label>
                        {{ form.naam(class="form-control") }}
                    </div>

                    <div class="form-group">
                        <label for="periode" class="form-label">Periode van de stage (bijv. 2020 periode 1):</label>
                        {{ form.periode(class="form-control") }}
                    </div>

                    <div class="form-group">
                        <label for="cijfer" class="form-label">Cijfer wat je gekregen hebt:</label>
                        {{ form.cijfer(class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
